/* основной цвет текста color: #212121 */ 
/* вторичный цвет текста #757575 */
/* акцент-цвет синий текста #2196F3 */
/* акцент-цвет белый текста #FFFFFF */
/* основной цвет фона background: #FFFFFF */
/* вторичный цвет фона background: #F5F4FA*/
/* вторичный акцент-цвет фона синий (кнопка) background: #2196F3*/
/* цвет фона хедер background: #FFFFFF */
/* цвет фона футер background: #2F303A */
/* цвет текста футер color: rgba(255, 255, 255, 0.6) */

:root {
    --brand-color: #FFFFFF;
    --object-color: #2196F3 ;
}
body {
    background: var(--brand-color) ;
    color: #212121
}
header {
    background: #FFFFFF;
}
footer{
    background: #2F303A;
    }
#team {
    background: #F5F4FA
}
.blue-text {
    color:var(--object-color) ;
}
.white-text {
    color: var(--brand-color) ;
}
.grey-text a {
    color: #757575 ;
}
.footer-text {
    font-style: normal;   
}
.footer-grey-txt {
    color: rgba(255, 255, 255, 0.6);
}

.blue-background {
    background: var(--object-color) ;
}
.grey-background {
    background: #F5F4FA ;
}
.list {
    list-style: none;
}
a {
    outline: none;
    text-decoration: none;
    color: #212121;
  }
  

